html {
    height: 100%;
    min-width: 100%;
}
body {
    background: rgb(247,206,224);
    background: radial-gradient(circle, rgba(247,206,224,1) 0%, rgba(205,224,247,1) 100%);
    /*background-color: #a38f85;*/
    min-height: 100%;
    /*color: #1B2237;*/
    font-family: Times New Roman;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1%;
}
header > * {
    margin-left: 5%;
    margin-right: 5%;
}

#form {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
button {
    background: transparent;
    border: none;
}

#page-container {
    /*background-color: #ede9e3;*/
    background-color: #fafafa;
    /*background-color: white;*/
    /*background: -webkit-linear-gradient(top, #d4d4d4 0%, #ffffff 100%);*/
    margin: auto;
    width: 100%;
    padding: 10px;
    height: 100%;
}

#button-cont {
    border-color: red;
    border-width: 2px;
    border-style: solid;
    border-radius: 200px;
    /*height: 100%;*/
    width: 7%;
    /*min-height: 100%;*/
    /*height: 100%;*/
}

#circle {
    width: 20%;
    height: 100%;
    border-radius: 100%;
    background-color: black;
    position: relative;
    /*animation-name: dark-mode;*/
    /*animation-duration: 1s;*/
}

/*@keyframes dark-mode {*/
/*    0% {*/
/*        left: 0;*/
/*    } 100% {*/
/*        left: 90%*/

/*          }*/
/*}*/

#name, #summ{
    width: 100%;
    text-align: center;
}
#name > h1 {
    margin-bottom: 0;
}


main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
}

.column {
    width: 100%;
}

a {
 font-size: 5vw;

}

h1 {
    font-size: 10vw;
}
h2 {
    font-size: 6vw;
}

li, p, footer h2  {
    font-size: 4vw;
}
#job-title {
    font-size: 6vw;
    color: #0f0f0f;
}

img {
    border-radius: 10%;
    max-height: 30vw;
    height: auto;
    left:0;
}

@media only screen and (min-width: 391px) {
    /*a {*/
    /* font-size: 5vw;*/

    /*}*/
    /*h2 {*/
    /*    font-size: 6vw;*/
    /*}*/
    #job-title {
        font-size: 4vw;
    }
    /*img {*/
    /*    max-height: 20vw;*/
    /*}*/
}

@media only screen and (min-width: 1100px) {
    #page-container {
        border-radius: 3%;
    }
    #second {
        flex: 2;
    }
    #first {
        flex: 4;
    }
    #page-container {
        width: 60%;
    }
    a {
        font-size: 1.5vw;
    }
    h1 {
        font-size: 3vw;
    }
    h2 {
        font-size: 3vw;
    }
    #job-title {
        font-size: 1.5vw;
    }
    img {
        max-height: 10vw;
    }

    li, p, footer h2  {
        font-size: 2vw;
    }

}

#second {
    border-radius: 5%;
    background-color: #f6f6f6;
    padding: 0.5vw;
    /*color: #364A62;*/

}
#skills > h2 {
    text-align: center;
}

#first {
    /*background-color: #364A62;*/
    padding: 0.5vw;
}

footer {
    text-align: center;
    display: flex;
    flex-direction: column;
}
footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
footer li, footer p{
    list-style-type: none;
    font-size: 1.25vw;
}

hr {
    opacity: 0.5;
    /*margin: 0;*/
}
#top-hr {
    margin: 0;
    opacity: 0.75;
}
.cont {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}
